@charset "utf-8";

body {
  background: #FAF5F6;
  text-align: center;
}

@font-face {
  font-family: 'Brazil';
  src: url('/stylesheets/brazil_font.otf')
}

header {
  height: 40px;
  background: #3F598A;
  padding-top: 25px;
  margin-bottom: 10px;
  color: #FAF5F6;
  font-family: 'Brazil';
  font-size: 30px;
}

section.map {
  margin-top: 50px;
  margin-bottom: 140px;
  height: 800px;
  .countries {
    float: left;
    font-size: .75em;
    text-align: left;
    position: relative;
    z-index: 100;

    .group {
      font-weight: bold;
    }
    img {
      margin-left: 10px;
      height: 10px;
    }

    li {
      margin-top: 1.5px;
      margin-bottom: 1.5px;
      list-style-type: none;
      color: #3F598A;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #A4504E;
      }

      a.active {
        color: #7FA596;
        font-weight: bold;
      }
    }
  }

  #container {
    position: absolute;
    width: 80%;
    height: 800px;
    float: left;
    padding-top: -100px;
    padding-left: 200px;
  }

}

section.ageGraph {
  padding-top: 130px;

  #ageGraphContainer {
    margin-top: 50px;
  }
}

#ageGraphContainer {
  height: 650px;

  .nv-group.nv-series-0 g {
    fill-opacity: .8
  }
}

section.scatterPlot {
  height: 650px;
  padding-top: 30px;
  path.nv-point {
    fill-opacity: .2
  }
  .unselected {
    opacity: .2
  }
  img {
    margin-right: 10px;
    height: 20px;
    margin-bottom: -4px;
  }
  #scatterPlotContainer {
    margin-top: 35px;
  }
  #dropdown {
    float:right;
    margin-bottom: -20px;
    margin-top: 15px;
    margin-right: 15%;
    margin-left: 500px;
  }
}

.background {
  fill: none;
  pointer-events: all;
}

.hoverinfo {
  color: #A4504E;
  background: #FAF5F6;
}

h3 {
  margin-left: 38px;
  margin-right: 38px;
}
