@charset "utf-8";

body {
  background: white;
  text-align: center;
  font-family: sans-serif;
}

header {
  height: 80px;
  background: blue;
  padding-top: 30px;
  color: white;
}

section.map {
  height: 800px;
  .countries {
    float: left;
    font-size: .8em;
    text-align: left;
    margin-left: 10px;
    position: relative;
    z-index: 100;

    .group {
      font-weight: bold;
    }

    li {
      margin-top: 3px;
      margin-bottom: 3px;
      list-style-type: none;

      a:link {
        text-decoration: none;
        cursor: pointer;
        padding-left: 15px;
      }
    }
  }

  #container {
    position: absolute;
    width: 80%;
    height: 800px;
    float: left;
    padding-top: -100px;
    padding-left: 200px;
  }

}

section.barGraphs {
  .toggler {
    margin-left: 350px;
    text-align: left;
    font-weight: bold;

    p {
      cursor: pointer;
      padding-left: 60px;
      margin: 5px 0;
    }
    .selected {
      color: blue;
    }
  }
}

section.averages {
  overflow: hidden;
}

section.scatterPlot {
  path.nv-point {
    fill-opacity: .2
  }
  .unselected {
    opacity: .2
  }
  #dropdown {
    float:right;
    margin-right: 15%;
    margin-left: 500px;
    margin-bottom: -25px;
  }
}

.background {
  fill: none;
  pointer-events: all;
}
