@charset "utf-8";

body {
  background: #FAF5F6;
  text-align: center;
  font-family: sans-serif;
}

header {
  height: 40px;
  background: #3F598A;
  padding-top: 30px;
  color: #FAF5F6;
}

section.map {
  height: 800px;
  .countries {
    float: left;
    font-size: .75em;
    text-align: left;
    position: relative;
    z-index: 100;

    .group {
      font-weight: bold;
    }
    img {
      margin-left: 10px;
      height: 10px;
    }

    li {
      margin-top: 1.5px;
      margin-bottom: 1.5px;
      list-style-type: none;
      color: #3F598A;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #A4504E;
      }

      a.active {
        color: #7FA596;
        font-weight: bold;
      }
    }
  }

  #container {
    position: absolute;
    width: 80%;
    height: 800px;
    float: left;
    padding-top: -100px;
    padding-left: 200px;
  }

}

section.barGraphs {
  .toggler {
    margin-left: 350px;
    text-align: left;
    font-weight: bold;

    p {
      cursor: pointer;
      padding-left: 60px;
      margin: 5px 0;
    }
    .selected {
      color: #80C8B5;
    }
  }
}

section.averages {
  overflow: hidden;
}

section.scatterPlot {
  path.nv-point {
    fill-opacity: .2
  }
  .unselected {
    opacity: .2
  }
  #dropdown {
    float:right;
    margin-right: 15%;
    margin-left: 500px;
    margin-bottom: -25px;
  }
}

.background {
  fill: none;
  pointer-events: all;
}

.hoverinfo {
  color: #A4504E;
  background: #FAF5F6;
}
