<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>World Cup 2014 - Player Data Visualization</title>
    <%= stylesheet_link_tag "normalize", "all", "nv.d3" %>
    <%= javascript_include_tag  "all" %>
    <link rel="icon" type="image/png" href="images/favicon.ico" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
