%header
  World Cup Data

%section.map
  %ul.countries
    - groups_list.each do |g|
      %li.group= "Group #{g['group']}"
      - g["teams"].each do |team|
        %li= link_to team.name

  #container

%section.heightGraph
  %h1 Player Heights

  #heightGraphContainer
    %svg

%section.weightGraph
  %h1 Player Weights

  #weightGraphContainer
    %svg

:javascript
  rosters = #{data.rosters.to_json};
  init(rosters);
