%header
  World Cup Data

%section.map
  %ul.countries
    - groups_list.each do |g|
      %li.group= "Group #{g['group']}"
      - g["teams"].each do |team|
        %li= link_to team.name

  #container

%section.averages
  %h1 Averages
  %dl
    %dt Height
    %dd.height
  %dl
    %dt Weight
    %dd.weight
  %dl
    %dt Ages
    %dd.age

%section.barGraphs
  .toggler
    %span Height
    %span Weight

  #barGraphContainer
    %svg

%section.ageGraph
  %h1 Player Ages

  #ageGraphContainer
    %svg

:javascript
  rosters = #{data.rosters.to_json};
  init(rosters);
